body {
  background: #FFFFFF;
  font-family: 'Titillium Web', Helvetica, Arial;
  font-size: 16px;
  color: #2A2C2E;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 3rem;
}

.container {
  margin-top: 3rem;
  text-align: center;
}